/* Responsive Styles
================================================== */

/* All size smaller than 1301 */
@media only screen and (max-width: 1300px) {

	.boxed-layout #page,
	.boxed-layout-small #page {
		max-width: 97%;
		margin-top: 10px;
	}

	.wrap,
	.boxed-layout .wrap, 
	.boxed-layout-small .wrap {
		max-width: 94%;
	}

	.four-column-full-width {
		width: 33.33%;
	}

	.four-column-full-width:nth-child(4n+5) {
		clear: none;
	}

	.four-column-full-width:nth-child(3n+4) {
		clear: both;
	}

	.main-slider .image-slider,
	.boxed-layout-small .main-slider .image-slider {
		min-height: 460px;
	}

	.slider-content .slider-title, 
	.slider-content .slider-title a {
		font-size: 44px;
		line-height: 1.18;
	}

	.main-slider .multi-slider .image-slider {
		min-height: 360px;
	}

	.small-slider .image-slider {
		min-height: inherit;
	}

	#secondary {
		padding-left: 30px;
	}
}

/* All size smaller than 1024
================================================== */
@media only screen and (max-width: 1023px) {

	.boxed-layout #page,
	.boxed-layout-small #page {
		overflow: hidden;
	}

	.boxed-layout #site-title a img {
		width: 668px;
	}

	#search-box {
		background-color: #fff;
	}

	.header-social-block {
		display: none;
	}

	.widget-title {
		font-size: 22px;
		line-height: 1.364;	
	}

	.vid-thumb-content .vid-thumb-title, 
	.vid-thumb-content .vid-thumb-title a {
		font-size: 30px;
		line-height:28px;
	}

	.vid-thumb-content .vid-thumb-text {
		font-size: 18px;
		line-height: 25px;
	}

	.vid-thumb .scroll-down, 
	.sld-plus .scroll-down {
		display: none;
	}

	.main-slider .image-slider,
	.boxed-layout-small .main-slider .image-slider {
		min-height: 320px;
	}

	.slider-content .slider-title, 
	.slider-content .slider-title a {
		font-size: 30px;
		line-height: 28px;
	}

	.slider-content .slider-text {
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 5px;
	}

	.main-slider .flex-direction-nav li {
		height: 40px;
		width: 40px;
	}

	.slider-content .slider-text a.more-link {
		padding: 2px 0;
		width: 160px;
	}
	
	.slider-content .btn-default {
		font-size: 12px;
		line-height: 18px;
		margin: 10px 5px 0;
		padding: 4px 12px;
	}

	#primary,
	#secondary {
		margin-bottom: 50px;
		padding: 0px;
		width: 100%;
		border: none;
	}

	.left-sidebar-layout #primary {
		float: none;
		padding-left: 0px;
	}

	.left-sidebar-layout #secondary {
		float: none;
		padding-right: 0px;
		border: none;
	}

	.no-sidebar-layout #main {
		margin: 0 ;
		width: 100%;
	}

	.contact-template #primary {
		padding-right: 30px;
	}

	.contact-template #secondary {
		padding-left: 30px;
	}

	/* ----- Column ----- */
	.column {
		margin: 0 -15px;
	}

	.two-column,
	.three-column,
	.four-column {
		padding: 0 15px 40px;
	}

	.two-column,
	.four-column,
	.three-column,
	.four-column-full-width,
	.boxed-layout-small .four-column-full-width,
	.column-2,
	.column-3,
	.column-4 {
		width: 50%;
	}

	.three-column:nth-child(3n+4),
	.four-column:nth-child(4n+5),
	.four-column-full-width:nth-child(3n+4),
	.boxed-layout-small .four-column-full-width:nth-child(3n+4),
	.column-2:nth-child(2n+3),
	.column-3:nth-child(3n+4),
	.column-4:nth-child(4n+5) {
 		clear: none;
	}

	.three-column:nth-child(2n+3),
	.four-column:nth-child(2n+3),
	.four-column-full-width:nth-child(2n+3),
	.boxed-layout-small .four-column-full-width:nth-child(2n+3),
	.column-2:nth-child(2n+3),
	.column-3:nth-child(2n+3),
	.column-4:nth-child(2n+3) {
 		clear: both;
	}

	/*Home Page gallery*/
	.featured-text-content .featured-title {
		font-size: 24px;
		line-height: 30px;
	}

	.gallery-col-4 .featured-item,
	.gallery-col-5 .featured-item,
	.post-gallery-col-4 .post-featured-item,
	.post-gallery-col-5 .post-featured-item {
		width: 33.33%;
	}

	.custom-logo-link .custom-logo {
		height: 60px;
	}

	.side-menu-wrap .custom-logo {
		height: 80px;
	}

	.top-logo-title .custom-logo {
		height: auto;
	}
	
	#colophon .widget-area {
		margin: 0;
		display: block;
	}
	
	#colophon .column-1,
	#colophon .column-2,
	#colophon .column-3,
	#colophon .column-4 {
		border-right: none;
		width: 100%;
		float: none;
		padding: 0;
		display: block;
	}
}

/* All size smaller than 981px
================================================== */
@media only screen and (max-width: 980px) { 

	.boxed-layout #page,
	.boxed-layout-small #page {
		margin-top: 0;
	}

	#site-branding {
	margin-left: 30px;
}

/* ----- Responsive Navigation ----- */

	.no-tog #sticky-header {
		background-color: #333;
		transition: none;
	}

	.no-tog .top-header {
		position: relative;
	}

	.vid-thumb.no-tog .is-sticky .main-header,
	.vid-thumb.no-tog .main-header {
		padding: 10px 0 30px;
	}

	.no-tog .main-header {
		display: inherit;
		padding: 0;
	}

	.no-tog .nav-menu {
		top: inherit;
		transform: inherit;
	}

	.show-menu-toggle {
		top: 4px;
		transform: inherit;
	}

	.header-search, 
	.header-search-x {
		top: 6px;
		transform: inherit;
	}

	.right-toggle,
	.top-logo-title .right-toggle {
		position: absolute;
		top: 10px;
		right: 0;
	}

	.right-toggle {
		/*margin-right: 30px;*/
	}

	.top-logo-title .right-toggle  {
		right: 20px;
	}

	.top-logo-title #site-detail {
		margin: 0;
	}
	
	.nav-site-title {
		display: none;
	}
	
	.menu-toggle {
		background-color: rgba(0, 0, 0, 0);
		border: 0 none;
		color: #666;
		cursor: pointer;
		display: inline-block;
		float: left;
		font-size: 0;
		margin-right: 10px;
		padding: 20px 0;
		width: 30px;
	}

	.menu-toggle .line-bar:before {
		transition: top 0.1s ease 0.14s, 
		opacity 0.1s ease 0s;
	}

	.line-bar:before {
		top: -8px;
	}

	.line-bar:after {
		bottom: -8px;
	}

	.line-bar:after, 
	.line-bar:before {
		content: "";
		display: block;
	}

	.line-bar, 
	.line-bar:after, 
	.line-bar:before {
		border-radius: 5px;
		height: 2px;
		position: absolute;
		transition-duration: 0.15s;
		transition-property: transform, -webkit-transform;
		transition-timing-function: ease;
		width: 30px;
	}

	.menu-toggle .line-bar:after {
		transition: bottom 0.1s ease 0.14s, 
		transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, 
		-webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
	}
	.menu-toggle .line-bar {
		transition-duration: 0.1s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	.line-bar {
		display: block;
		margin-top: -2px;
	}

	.menu-toggle.on .line-bar:before {
		opacity: 0;
		top: 0;
		transition: top 0.1s ease 0s, opacity 0.1s ease 0.14s;
	}

	.menu-toggle.on .line-bar:after {
		bottom: 0;
		transform: rotate(-90deg);
		transition: bottom 0.1s ease 0s, 
		transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s, 
		-webkit-transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
	}

	.menu-toggle.on .line-bar {
		transform: rotate(45deg);
		transition-delay: 0.14s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	
	.menu {
		display: none;
	}

	.toggled-on .menu {
		display: block;
	}
	
	.widget_nav_menu .menu {
		display: block;
	}
	
	.main-navigation {
		padding: 0 10%;
		width: 100%;
	}
	
	.main-navigation > ul > li {
		position: inherit;
		width: 100%;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		margin-left: 0;
	}
	
	.main-navigation > ul > li::before {
		visibility: hidden;
	}
	
	.main-navigation a {
		float: none;
		height: inherit;
		line-height: 1.833;
		padding: 10px 0;
	}

	/* ----- Dropdown ----- */
	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current_page_ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current_page_item ul li a,
	.main-navigation li li.menu-item-has-children > a:after,
	.main-navigation li li.page_item_has_children > a:after {
		color: #fff;
	}

	.main-navigation ul li:hover ul {
	  	top: auto;
	}
	
	.main-navigation ul li ul {
		background-color: transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		display: none;
		left: 40px;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
		position: static;
		top: auto;
		transform: none;
		visibility: visible;
		width: 100%;
	}
	
	.main-navigation ul li ul li {
		float: none;
		margin: 0;
		position: relative;
	    text-align: left;
	    width: 100%;
	    z-index: 1;
	    display: block;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	  	visibility:visible;
	}
	
	.main-navigation ul li ul li {
    	border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	.main-navigation ul li ul li::before {
		position: static;
	}
	
	.main-navigation ul li ul li ul {
		left: 160px;
		display: block;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	  	visibility:visible;
	}
	
	#site-navigation ul ul ul a {
		padding-left: 40px;
	}
	
	.main-navigation ul ul li:hover ul {
		top: 0;
		display: block;
	  	opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=100);
	  	visibility:visible;
	}

	.main-navigation ul li:hover ul ul,
	.main-navigation ul li.focus ul ul,
	.main-navigation ul ul li:hover ul ul,
	.main-navigation ul ul li.focus ul ul {
		display: none;
	}

	.main-navigation ul ul li:hover ul,
	.main-navigation ul ul li.focus ul,
	.main-navigation ul ul ul li:hover ul,
	.main-navigation ul ul ul li.focus ul {
		display: block;
	}

	.main-navigation li li.menu-item-has-children > a:after, 
	.main-navigation li li.page_item_has_children > a:after {
		content: "\f107";
	}

	.is-sticky .main-navigation a {
		line-height: inherit;
	}

	.main-navigation ul li ul:before,
	.main-navigation ul li ul:after {
		content: none;
	}

	.side-menu.show {
		padding: 50px 40px 0 25px;
	}

	.jarallax-video-pause {
		opacity: 0 !important;
	}

	.show-fgt-hover .featured-item.has-post-thumbnail .featured-title {
		font-size: 18px;
		line-height: 25px;

	}
}

/* All Mobile Screen ( smaller than 768px )
================================================== */
@media only screen and (max-width: 767px) {

	.comments-title,
	#respond h3#reply-title {
		font-size: 26px;
		line-height: 1.231;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-bottom: 10px;
	}
	
	hr {
		margin-bottom: 30px;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea,
	input[type="reset"],
	input[type="button"],
	input[type="submit"] {
		margin-bottom: 20px;
	}
	
	input.s {
		margin: 0;
	}
	
	#site-title {
		font-size: 30px;
	}
	
	.boxed-layout #site-branding,
	.boxed-layout #site-title a img,
	.boxed-layout-small #site-branding,
	.boxed-layout-small #site-title a img {
		max-width: 400px;
	}
	
	.header-search,
	.header-search-x {
		display: none;
	}

	.main-slider .image-slider,
	.boxed-layout-small .main-slider .image-slider {
		min-height: 250px;
	}
	.vid-thumb-content,
	.slider-content {
		left: 0;
		max-width: 90%;
		right: 0;
		text-align: center;
		top: 50%;
	}

	.vid-thumb-content .vid-thumb-text {
		font-size: 18px;
		line-height: 25px;
	}

	.vid-thumb-content .vid-thumb-title, 
	.vid-thumb-content .vid-thumb-title a,
	.slider-content .slider-title, 
	.slider-content .slider-title a {
		font-size: 24px;
		line-height: 1.375;
	}

	.movie .vid-thumb-content {
		max-width: 80%;
	}
	
	.page-header {
		padding: 10px 20px;
	}
	
	#content {
		padding-top: 50px;
	}
	
	/* ----- Column ----- */
	.column {
		margin: 0;
	}
	
	.two-column,
	.three-column {
		padding: 0 0 30px;
		width: 100%;
	}
	
	.two-column-full-width,
	.four-column-full-width,
	.boxed-layout-small .four-column-full-width,
	#primary .three-column, 
	#primary .four-column-full-width, 
	#primary .four-column {
		margin: 0;
		width: 100%;
	}
	
	.four-column {
		padding: 0 10px 30px;
		width: 50%;
	}
	
	.three-column:nth-child(2n+3) {
 		clear: none;
	}
	
	.three-column-post .post-container,
	.four-column-post .post-container {
		width: 50%;
	}
	
	.two-column-blog #primary .post {
		width: 100%;
		float: left;
		margin-right: 0;
	}

	.two-column-blog #primary .post:nth-child(2n+1) {
		margin-left: 0;
	}
	
	.small-image-blog .entry-thumb-content {
		width: 100%;
	}

	.blog a.more-link:before {
		left: -50%;
		width: 50%;
	}

	/* Contact Template*/

	.contact-template #primary {
		padding-right: 0;
		width: 100%;
	}

	.contact-template #secondary {
		padding-left: 0;
		width: 100%;
	}

	.blog a.more-link:after {
		right: -50%;
		width: 50%;
	}
	
	.widget {
		margin-bottom: 40px;
	}
	
	.widget_custom-tagcloud {
		margin-bottom: 32px;
	}
	
	.widget_posts {
		margin-bottom: 20px;
	}

	/* Home Page gallery*/

	.gallery-col-3 .featured-item,
	.gallery-col-4 .featured-item,
	.gallery-col-5 .featured-item,
	.post-gallery-col-3 .post-featured-item,
	.post-gallery-col-4 .post-featured-item,
	.post-gallery-col-5 .post-featured-item {
		width: 50%;
	}

	.header-social-block {
		top: 60%;
	}

	.featured-gallery-title {
		margin-top: 20px;
		margin-bottom: 0;
	}

	.filter-button div button {
		margin: 20px 10px !important;
	}

	.show-fgt-hover .featured-item.has-post-thumbnail .featured-title {
		font-size: 16px;
		line-height: 23px;

	}

	.about-template .about-contant.has-post-thumbnail #primary {
		width: 70%;
		float: none;
		padding: 50px 0;
		margin: 0 auto;
	}

	#colophon .widget-area {
		margin: 0;
		display: block;
	}

	#colophon .widget_posts {
		margin-bottom: 20px;
	}
	
	.site-info #site-branding {
		max-width: 100%;
	}

	.box-gallery .featured-gallery-content {
		width: 94%;
	}
}

/* All Mobile Screen ( smaller than 481px )
================================================== */
@media only screen and (max-width: 480px) {

	.boxed-layout #colophon,
	.boxed-layout-small #colophon {
		margin-bottom: 10px;
	}
	
	#site-branding {
		max-width: 265px;
	}

	#site-title {
		font-size: 24px;
	}

	.top-logo-title #site-branding,
	.top-logo-title #site-detail {
		text-align: left;
	}
	
	.boxed-layout #site-branding,
	.boxed-layout #site-title a img,
	.boxed-layout-small #site-branding,
	.boxed-layout-small #site-title a img {
		max-width: 240px;
	}

	/* ----- Column ----- */
	.column {
		margin: 0;
	}
	
	.four-column {
		padding: 0 0 30px;
		width: 100%;
	}
	
	.four-column:nth-child(2n+3) {
		clear: none;
	}
	
	.two-column-post .post-container,
	.three-column-post .post-container,
	.four-column-post .post-container {
		width: 100%;
	}
	
	.btn-default {
		padding: 6px 18px;
		font-size: 13px;
	}

	.vid-thumb .header-social-block, 
	.sld-plus .header-social-block {
		display: none;
	}

	.movie .vid-thumb-content {
		left: 0;
		right: 0;
	}

	.movie .vid-thumb-content .vid-thumb-title, 
	.movie .vid-thumb-content .vid-thumb-title a {
		font-size: 20px;
	}

	.movie .vid-thumb-content .vid-thumb-text {
		font-size: 14px;
	}

	.widget-title span {
		font-size: 16px;
		line-height: 1.4375;
	}

	.post-gallery-col-2 .post-featured-item,
	.post-gallery-col-3 .post-featured-item,
	.post-gallery-col-4 .post-featured-item,
	.post-gallery-col-5 .post-featured-item {
		width: 100%;
	}
}

/* All Mobile ( smaller than 320px )
================================================== */
@media only screen and (max-width: 319px) {
	.wrap,
	.boxed-layout #page,
	.boxed-layout .wrap,
	.boxed-layout-small #page,
	.boxed-layout-small .wrap {
		width: 96%;
	}

	/*Home Page Gallery*/

	.gallery-col-2 .featured-item,
	.gallery-col-3 .featured-item,
	.gallery-col-4 .featured-item,
	.gallery-col-5 .featured-item {
		width: 100%;
	}
}